@mixin  footer() {
  body {
    footer {
      width: 100%;
      min-width: $master-width;
      background-color: #303030;
      .title_box {
        width: 100%;
        border-bottom: 1px solid rgba(238, 237, 237, 0.08);
        .title {
          width: $master-width;
          font-size: 34px;
          color:#f5f5f5;
          opacity: 0.7;
          height: 81px;
          line-height: 81px;
          margin: 0 auto;
          padding-left: 13px;
        }
      }
      .container {
        height: 212px;
        width: $master-width;
        margin: 0 auto;
        padding-left:13px;
        .left_info {
          margin-top: 29px;
          margin-right: 285px;
          img {
            margin-bottom: 30px;
          }
          .info {
            color:rgba(245, 245, 245, 0.4);  
            font-size: 12px;
            line-height: 22px;
          }
          .friend_link {
            opacity: 0.5;
            color:#f5f5f5;
            font-size: 12px;
            a {
              color:#f5f5f5;
              font-size: 12px;
            }
          }
        }
        .about_us {
          margin-top: 41px;
          margin-right: 90px;
          .abou_us_title {
            font-size: 14px;
            color:rgba(255, 255, 255, 0.8);
            margin-bottom: 25px;
          }
          .link {
            li {
              margin-bottom: 5px;
              text-align: center;
              a {
                color:rgba(255, 255, 255, 0.4);
                font-size: 12px;
              }
            }
          }
        }
        .serve {
          margin-top:40px;
          margin-right: 70px;
          div {
            color:rgba(245, 245, 245, 0.4);
          }
          &_title{
            color:rgba(255, 255, 255, 0.8) !important;
            padding-left:5px;
            font-size: 14px;
            margin-bottom: 20px;
          }
          .phone {
            font-size: 31px;
            margin-bottom: 8px;
          }
          .time,.day {
            font-size: 14px;
            margin-bottom: 8px;
          }
          .day {
            margin-bottom: 20px;
          }
        }
        .code_download {
          margin-top: 40px;
          .code_title {
            font-size: 14px;
            color:#f5f5f5;
            margin-bottom: 15px;
          }
          .wx_code {
            width: 110px;
            div {
              margin-top: 17px;
              font-size: 12px;
              color: #f5f5f5;
              opacity: 0.5;
              text-align: center;
            }
          }
        }
      
      
      }
      .bottom {
        border-top: 1px solid rgba(238, 237, 237, 0.08);
        height: 110px;
        width: 100%;
        .friend_link {
          padding: 23px 13px;
          width: $master-width;
          margin: 0 auto;
          color:#f5f5f5;
          opacity: 0.5;
          font-size: 14px;
          a {
            color:#f5f5f5;

          }
        }
      }
    }
  }
}