@mixin  footer() {
  body {
    div,a,span {
      font-weight: 400;
    }
    footer {
      width: 100%;
      min-width: $master-width;
      background-color: #303030;
      .container {
        height: 220px;
        width: $master-width;
        margin: 0 auto;
        .left_info {
          margin-top: 29px;
          margin-right: 280px;
          img {
            margin-bottom: 30px;
          }
          .info {
            color:rgba(245, 245, 245, 0.4);  
            font-size: 12px;
            line-height: 26px;
          }
          .friend_link {
            opacity: 0.5;
            color:#f5f5f5;
            font-size: 12px;
            a {
              color:#f5f5f5;
              font-size: 12px;
            }
          }
        }
        .about_us {
          margin-top: 41px;
          margin-right: 100px;
          .abou_us_title {
            font-size: 14px;
            color:rgba(255, 255, 255, 0.8);
            margin-bottom: 25px;
          }
          .link {
            li {
              margin-bottom: 8px;
              a {
                color:rgba(255, 255, 255, 0.4);
                font-size: 12px;
              }
            }
          }
        }
        .serve {
          margin-top:40px;
          margin-right: 100px;
          div {
            color:rgba(245, 245, 245, 0.4);
          }
          &_title{
            color:rgba(255, 255, 255, 0.8) !important;
            font-size: 14px;
            margin-bottom: 20px;
          }
          .phone {
            text-align: left;
            box-sizing: border-box;
            font-size: 31px;
            margin-bottom: 10px;
            font-weight: 300;
          }
          .time,.day {
            font-size: 12px;
            margin-bottom: 10px;
          }
          .day {
            margin-bottom: 20px;
          }
        }
        .code_download {
          margin-top: 40px;
          .code_title {
            font-size: 14px;
            color:rgba(255,255,255,0.8);
            margin-bottom: 15px;
          }
          .wx_code {
            width: 94px;
            div {
              margin-top: 17px;
              font-size: 12px;
              color: #f5f5f5;
              opacity: 0.8;
              text-align: center;
            }
          }
        }
      
      
      }
      .bottom {
        border-top: 1px solid rgba(238, 237, 237, 0.08);
        width: 100%;
        .friend_link {
          box-sizing: border-box;
          padding: 20px 0;
          width: $master-width;
          margin: 0 auto;
          color:#f5f5f5;
          opacity: 0.5;
          font-weight: 300;
          font-size: 12px;
          a {
            font-size: 12px;
            color:#f5f5f5;
            font-weight: 300;
          }
        }
      }
    }
  }
}