@mixin right_tab() {
  body{
    .right_tab{
      position: fixed;
      right: -50px;
      bottom: 0;
      top: 0;
      width: 40px;
      background: #ffffff;
      z-index: 500;
      box-shadow: -5px 0px 5px #efefef;
      transition: all .5s;
      &.active{
        right: 0;
      }
      .tab-content{
        position: absolute;
        top: 25vh;
        width: 100%;
        .customer-service{
          background-color: $master-blue;
          padding-top: 15px;
          text-align: center;
          position: relative;
          height: 75px;
          cursor: pointer;
          img{
            margin-bottom: 5px;
          }
          .text-box{
            color: #ffffff;
            font-family: PingFang-SC-Medium;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
          }
        }
      }
    }
  }
}