@mixin charge {
  body {
    .container {
      width: 100%;
      padding-top: 30px;
      // 列表页标题
      .list_title {
        width: 100%;
        height: 480px;
        background: url(/shop_img/list_detail_title.jpg) no-repeat center;
        padding-top: 150px;
        box-sizing: border-box;
        .title_1 {
          font-size: 70px;
          text-align: center;
          color: #fff;
          margin-bottom: 65px;
        }
        .title_2 {
          font-size: 28px;
          text-align: center;
          color: #fff;
          font-family: 'PingFang-SC-Regular';
          font-weight: 300
        }
      }
      // 列表描述样式
      .list_describe {
        width: 100%; 
        height: 673px;
        background: url(/shop_img/list_describe_back.jpg) no-repeat center;
        box-sizing: border-box;
        .caculate {
          margin-left: 410px;
          margin-top: 155px;
        }
        .list_describe_right {
          width: 455px;
          margin-left: 130px;
          margin-top: 120px;
          .right_top {
            margin-bottom: 130px
          }
          .right_common {
            width: 100%;
            .common_title {
              span {
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: #000;
                margin-bottom: 7px;
                margin-right: 10px;
              }
              font-size: 28px;
              color: #333;
              font-family: 'PingFang-SC-Medium';
              text-align: center;
              margin-bottom: 35px;
            }
            .common_descibe {
              color: #666666;
              font-size: 16px;
              line-height: 26px;
              font-family: 'PingFang-SC-Regular'  
            }
          }
        }
      }
      // 4大保障样式
      .list_promise {
        box-sizing: border-box;
        padding-top: 100px;
        width: 100%;
        height: 710px;
        background: linear-gradient(0deg, #526ee4 0%,#6c9bf1 100%),linear-gradient(#90b1e6, #90b1e6);
        .promise_title {
          font-family: 'PingFang-SC-Medium';
          text-align: center;
          color: #fff;
          font-size: 40px;
          margin-bottom: 40px;
        }
        .border {
          width: 95px;
          height: 3px;
          background-color: #fff;
          margin: 0 auto;
          margin-bottom: 107px;
        }
        .step_box {
          width: 1030px;
          height: 290px;
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
          .step {
            width: 425px;
            height: 92px;
            margin-right: 180px;
            margin-bottom: 95px;
            .step_title_box {
              width: 298px;
              margin-left: 45px;
              .step_title {
                font-family: 'PingFang-SC-Medium';
                font-size: 24px;
                color:#fff;
                margin-bottom: 12px;
              }
              .step_info {
                font-family: PingFang-SC-Light;
                font-size: 18px;
                font-weight: 300;
                line-height: 28px;
                color:#fff;
              }
            }
            &:nth-child(2n) {
              margin-right: 0;
            }
            &:nth-child(n+2) {
              margin-bottom: 0; 
            }
          }
        }
      }
      // 需要提供的资料
      .you_provide {
        box-sizing: border-box;
        width: 100%;
        height: 775px;   
        background: url(/shop_img/you_provide.jpg) no-repeat center;
        padding-top: 124px;
        padding-left: 393px;
        .provide_title {
          font-family: 'PingFang-SC-Regular';
          font-size: 40px;
          color:#333;
          font-weight: 300;
          margin-bottom: 30px;
        }
        .border {
          width: 64px;
          height: 3px;
          margin-left: 4px;
          background-color: #007bff;
          margin-bottom: 105px; 
        }
        .provides {
          width: 515px;
          height: 170px;
          display: flex;
          flex-wrap: wrap;
          .provide {
            width: 250px;
            height: 50px;
            margin-right: 15px;
            margin-bottom: 70px;
            &:nth-child(2n) {
              margin-right: 0;
            }
            &:nth-child(n+2) {
              margin-bottom: 0;
            }
            .num {
              font-family: 'PingFang-SC-Light';
              width: 48px;
              height: 48px;
              border: 1px solid #5088f8;
              line-height: 48px;
              text-align: center;
              margin-right: 20px;
              font-size: 32px;
              color:#2272f8;
              border-radius: 8px;
            }
            .name {
              font-family: 'PingFang-SC-Regular';
              font-size: 20px;
              line-height: 48px;
            }
          }
          .note {
            margin-top: 112px;
            font-size: 14px;
            color:#999;
            font-family: 'PingFang-SC-Regular'
          }
        }
      }
      // 得到的材料样式
      .you_get {
        box-sizing: border-box;
        width: 100%;
        height: 633px;
        background-color: #f6f6f6;
        .arrow_down {
          text-align: center;
          margin-bottom: 80px;
          img {
            margin-top: -36px;
          }
        }
        .get_title {
          text-align: center;
          .title_back {
            font-size: 60px;
            color:#f0f0f0;
            font-family: 'PingFang-SC-Medium';
          }
          .get_title {
            font-family: 'PingFang-SC-Regular'; 
            font-size: 40px;
            color:#333;
            margin-top: -60px;
            margin-bottom: 20px;
            font-weight: 300;
          }
        }
        .border {
          width: 77px;
          height: 3px;
          background-color: #007bff;
          margin: 0 auto;
          margin-bottom: 83px;
        }
        .get_data {
          font-family: 'PingFang-SC-Medium'; 
          width: 1039px;
          height: 240px;
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
          .data {
            width: 263px;
            height: 100%;
            margin-right: 125px;
            &:last-child() {
              margin-right: 0;
            }
            .data_title {
              width: 100%;
              height: 62px;
              text-align: center;
              line-height: 62px;
              color:#fff;
              font-size: 20px;
              background-color: #46a6fb;
            }
            .data_content {
              box-sizing: border-box;
              width: 100%;
              height: 178px;
              background: #fff;
              padding-top: 30px;
              li {
                text-align: center;
                color:#333;
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 16px;
              }
            }
          }
        }
      }
      
    }
  }
  .fixed {
    position: fixed;
    right:0;
    top: 0;
  }
  .absolute {
    position: absolute;
    right: 0;
    top: 0;
  }
  .clearfix::after {
    content: '';
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
  }
  .f_l {
    float: left;
  }
  .f_r {
    float: right;
  }
}