.page{
  list-style: none;
}
.page>li{
  float: left;
  padding: 5px 10px;
  cursor: pointer;
}
.page .pageItem{
  border: solid thin #DDDDDD;
  margin: 5px;
}
.page .pageItemActive{
  border: solid thin #22a6f6;
  margin: 5px;
  background-color: #22a6f6;
  color:white;
}
.page .pageItem:hover{
  border: solid thin #22a6f6;
  background-color: #22a6f6;
  color:white;
}
.page .pageItemDisable{
  border: solid thin #DDDDDD;
  margin: 5px;
  background-color: #fff;
}