html,
body {
  background-color: #f4f4f4;
}

html .mui-bar-nav,
body .mui-bar-nav {
  background: #ffffff;
  height: 115px;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

html .mui-bar-nav .mui-title,
body .mui-bar-nav .mui-title {
  margin-top: 20px;
}

html .mui-bar-nav .select-box,
body .mui-bar-nav .select-box {
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  bottom: 0;
  height: 50px;
  width: 100%;
}

html .main-content,
body .main-content {
  margin-top: 125px;
}

