html,
body {
  height: 100%;
}

html .map-btn-list,
body .map-btn-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .map-btn-list .map-btn-item,
body .map-btn-list .map-btn-item {
  height: 12.5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .map-btn-list .map-btn-item .img-box,
body .map-btn-list .map-btn-item .img-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5px;
}

html .map-btn-list .map-btn-item .img-box img,
body .map-btn-list .map-btn-item .img-box img {
  width: 55%;
}

html .map-btn-list .map-btn-item .text-box,
body .map-btn-list .map-btn-item .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 35%;
  font-size: 12px;
  color: #333333;
}

html .map-btn-list .map-btn-item.active .text-box,
body .map-btn-list .map-btn-item.active .text-box {
  color: orange;
}

