<<<<<<< HEAD
#footer{width:100%;background:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:8px 15px;position:fixed;bottom:0;z-index:10;border-top:1px solid #f4f4f4}#footer .collect img{width:25px;height:25px;vertical-align:middle;margin-bottom:7px}#footer .collect span{line-height:44px;font-size:20px;color:#333;display:inline-block;margin-left:5px}@media screen and (max-width:400px){#footer .collect span{font-size:17px}}#footer #free{margin-left:10px}#footer #free button{width:100%;height:48px;font-size:18px}#serveDetailVue{margin-bottom:50px}#serveDetailVue span img{width:100%}
=======
#footer {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px 15px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  border-top: 1px solid #f4f4f4;
}

#footer .collect img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-bottom: 7px;
}

#footer .collect span {
  line-height: 44px;
  font-size: 20px;
  color: #333;
  display: inline-block;
  margin-left: 5px;
}

#footer #free {
  margin-left: 10px;
}

#footer #free button {
  width: 100%;
  height: 48px;
  font-size: 18px;
}

#serveDetailVue {
  margin-bottom: 50px;
}

#serveDetailVue span img {
  width: 100%;
}

>>>>>>> origin/wanghao
