body {
  background: #f4f4f4 !important;
}

body .mui-content {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  background: #f4f4f4 !important;
}

body .mui-content .first .input {
  margin-bottom: 1px;
}

body .mui-content .first .input input {
  border: none;
  margin: 0;
  height: 50px;
  border-radius: 0;
}

body .mui-content .first .input input::-webkit-input-placeholder {
  font-size: 15px;
}

body .mui-content .first .input input:-ms-input-placeholder {
  font-size: 15px;
}

body .mui-content .first .input input::-ms-input-placeholder {
  font-size: 15px;
}

body .mui-content .first .input input::placeholder {
  font-size: 15px;
}

body .mui-content .second {
  margin-top: 10px;
}

body .mui-content .second #requirement {
  border: none;
}

body .mui-content .second #requirement::-webkit-input-placeholder {
  font-size: 15px;
}

body .mui-content .second #requirement:-ms-input-placeholder {
  font-size: 15px;
}

body .mui-content .second #requirement::-ms-input-placeholder {
  font-size: 15px;
}

body .mui-content .second #requirement::placeholder {
  font-size: 15px;
}

body .mui-content .loginOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mui-content .loginOut button {
  width: 80%;
  height: 45px;
  border-radius: 25px;
  padding: 0;
  font-size: 18px;
  margin: 40px 0;
  color: #FFF;
  background: #0066ff;
  border: none;
}

