body {
  background: #f4f4f4 !important;
}

body header {
  height: 65px !important;
  background: rgba(255,255,255,0.9) !important;
}

body header .mui-title {
  margin-top: 20px !important;
}

body header a {
  display: inline-block;
  width: 100px;
  height: 64px;
}

body .mui-content {
  margin-top: 75px;
  margin-left: 15px;
  margin-right: 15px;
  background: #f4f4f4 !important;
}

body .mui-content .mui-input-group::before {
  height: 0;
}

body .mui-content .mui-input-group::after {
  height: 0;
}

body .mui-content .mui-input-group .mui-input-row {
  border-bottom: 1px solid #f4f4f4;
  height: 50px;
}

body .mui-content .mui-input-group .mui-input-row::after {
  height: 0;
}

body .mui-content .mui-input-group .mui-input-row label {
  font-size: 15px;
  height: 50px;
  color: #333;
  margin-top: 5px;
  width: 30%;
}

body .mui-content .mui-input-group .mui-input-row input {
  height: 50px;
  width: 70%;
  border: none;
  margin: 0;
  border-radius: 0;
}

body .mui-content .mui-input-group .mui-input-row input::-webkit-input-placeholder {
  font-size: 15px !important;
}

body .mui-content .mui-input-group .mui-input-row input:-ms-input-placeholder {
  font-size: 15px !important;
}

body .mui-content .mui-input-group .mui-input-row input::-ms-input-placeholder {
  font-size: 15px !important;
}

body .mui-content .mui-input-group .mui-input-row input::placeholder {
  font-size: 15px !important;
}

body .mui-content .loginOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mui-content .loginOut button {
  width: 80%;
  height: 45px;
  border-radius: 25px;
  padding: 0;
  font-size: 18px;
  margin: 40px 0;
  color: #FFF;
  background: #0066ff;
  border: none;
}

