body {
  padding-bottom: 60px;
  background-color: #ffffff !important;
}

<<<<<<< HEAD
=======
.header {
  width: 100%;
}

>>>>>>> origin/cyq
.header img {
  width: 100%;
}

.header .picture {
  position: absolute;
<<<<<<< HEAD
  top: 50px;
  left: 38%;
  text-align: center;
=======
  top: 7%;
  left: 50%;
  text-align: center;
  margin-left: -55px;
>>>>>>> origin/cyq
}

.header .picture h5 {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.header .picture img {
  width: 60px;
  height: 60px;
}

.main-content {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  position: relative;
  top: -18px;
  z-index: 100;
  -webkit-box-shadow: 0px -5px 10px 0px rgba(5,42,97,0.18);
          box-shadow: 0px -5px 10px 0px rgba(5,42,97,0.18);
}

.main-content .top {
  padding-top: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .top .entrust {
  text-align: center;
}

.main-content .top .entrust img {
  width: 27px;
  height: 26px;
}

.main-content .top .entrust h5 {
  font-size: 14px;
  color: #333;
}

.main-content .top .mui-col-xs-5 .mui-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .top .mui-col-xs-5 .mui-row .border {
  margin-top: 3px;
  width: 1px;
  height: 45px;
  background-color: #ccc;
}

.main-content .collection {
  padding: 20px 25px;
  border-top: 10px solid #f4f4f4;
  border-bottom: 10px solid #f4f4f4;
}

.main-content .collection span {
  font-size: 15px;
  color: #141414;
}

.main-content .collection a img {
  width: 7px;
  height: 12px;
}

.main-content .userList {
  padding: 20px 25px;
  border-bottom: 1px solid #f4f4f4;
}

.main-content .userList span {
  font-size: 15px;
  color: #141414;
}

.main-content .userList a span {
  font-size: 15px;
  display: inline-block;
  margin-right: 10px;
}

.main-content .userList a img {
  width: 7px;
  height: 12px;
}

