body {
  margin: 0;
  margin-bottom: 10px;
}

body .detail-row-title {
  display: inline-block;
  width: 64px;
  text-align: justify;
  text-align-last: justify;
}

body .detail-title {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  padding: 23px 0 20px 21px;
  border-bottom: 0.5px solid #f4f4f4;
}

body .detail-info {
  padding: 20px;
  line-height: 34px;
  border-bottom: 0.5px solid #f4f4f4;
}

body .detail-info .detail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .detail-info .detail-row span {
  color: #999;
  font-size: 14px;
}

body .detail-info .detail-row .detail-color {
  color: #333;
}

body .detail-info .detail-row .detail-remark {
  width: 70%;
  line-height: 24px;
  margin-top: 5px;
  color: #333;
}

body .detail-concat {
  padding: 20px;
  font-size: 14px;
  line-height: 34px;
  border-bottom: 0.5px solid #f4f4f4;
}

body .detail-concat .detail-name,
body .detail-concat .detail-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .detail-concat span {
  color: #999;
}

body .detail-concat .detail-color {
  color: #333;
}

body .detail-concat .detail-phone-color {
  color: #007bff;
  font-weight: 600;
}

body .detail-choice {
  padding: 30px 0;
  border-bottom: 10px solid #f4f4f4;
}

body .detail-choice .detail-choice-agent {
  text-align: center;
  margin-bottom: 30px;
}

body .detail-choice .detail-confirm {
  width: 300px;
  height: 44px;
  background: #007bff;
  color: #fff;
  border-radius: 22px;
  text-align: center;
  line-height: 44px;
  margin: 0 auto;
}

body .detail-step {
  padding: 16px 0 0 20px;
}

body .detail-step .el-step.is-vertical .el-step__line {
  top: 13px;
  bottom: -12px;
  left: 7px;
}

body .detail-step .is-finish .el-step__icon {
  width: 15px;
  height: 15px;
  background: #007bff;
  border: 2px solid #72acfe;
}

body .detail-step .el-step__title.is-finish {
  color: #333;
  font-size: 12px;
}

body .detail-step .el-step__icon {
  width: 15px;
  height: 15px;
  background: #ccc;
  border: none;
}

body .detail-step .el-step.is-vertical .el-step__title {
  line-height: 36px;
  padding-bottom: 0;
}

body .detail-step .el-step__description.is-finish {
  color: #666;
}

body .detail-step .el-step__title {
  font-size: 12px;
  color: #333;
}

body .detail-step .el-step__title.is-process {
  font-weight: 500;
}

body .detail-step .el-step__description.is-process {
  color: #666;
}

body .detail-step .el-step__description.is-wait {
  color: #666;
}

