body {
  margin: 0;
  margin-bottom: 10px;
  background: #f4f4f4;
}

body a {
  text-decoration: none;
  color: #333;
}

body .manage-list-row-title {
  width: 64px;
  text-align: justify;
}

body .manage-list-row-title:after {
  content: '';
  display: inline-block;
  width: 100%;
}

body .list-content {
  margin-top: 52px;
}

body .list-content .manage-list {
  margin: 15px;
  background: #fff;
  border-radius: 6px;
}

body .list-content .manage-list .manage-list-num {
  font-family: PingFang-SC-Medium;
  font-weight: 600;
  font-size: 17px;
  padding: 15px 0 15px 20px;
  border-bottom: 0.5px solid #ededed;
}

body .list-content .manage-list .manage-list-info {
  padding: 20px;
  line-height: 18px;
  border-bottom: 0.5px solid #ededed;
}

body .list-content .manage-list .manage-list-info .manage-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .list-content .manage-list .manage-list-info .manage-list-row span {
  color: #999;
  font-size: 15px;
  font-family: PingFang-SC-regular;
}

body .list-content .manage-list .manage-list-info .manage-list-row .manage-list-color {
  color: #333;
}

body .list-content .manage-list .manage-list-info .manage-list-row .manage-list-remark {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 19px;
  color: #333;
}

body .list-content .manage-list .manage-list-detail {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: PingFang-SC-regular;
}

body .list-content .manage-list .manage-list-detail .el-icon-arrow-right {
  margin-top: 2px;
  color: #ccc;
}

body .list-content .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .list-content .loading span {
  margin-left: 5px;
  font-family: PingFang-SC-regular;
}

body .list-content .mint-spinner-fading-circle {
  width: 15px !important;
  height: 15px !important;
  top: 4px;
}

body .list-content .mint-tab-item-label {
  font-size: 15px;
  font-weight: 600;
  font-family: PingFang-SC-Medium;
}

body .list-content .mint-navbar .mint-tab-item.is-selected {
  border-bottom: none;
  color: #007bff;
  margin-bottom: 0;
}

body .list-content .mint-navbar .mint-tab-item.is-selected .mint-tab-item-label {
  font-size: 18px;
  font-family: PingFang-SC-regular;
}

