@import 'home_master';


body {
  width: 100%;
  background-color: #ededed;
  .register_container {
    border: 1px solid rgb(228, 228, 228);
    width: $master-width;
    margin: 0 auto;
    padding-top:50px;
    background-color: #fff;
    margin-top: 20px;
    .title {
      width: 100%;
      padding-left: 30px;
      font-size: 16;
      color:#999;
    }
    form {
      width: 400px;
      margin: 0 auto;
      input {
        margin: 10px auto;
        box-sizing: border-box;
        width: 300px;
        height: 50px;
        border: 1px solid rgb(228, 228, 228);
        padding: 0;
        padding-left:40px; 
      }
      input:focus {
        outline: 1px solid $master-blue;
      }
      input::placeholder {
        font-size: 14px;
      }
      .agree {
        position: relative;
        input {
          padding: 0;
          width: 19px;
          height: 19px;
          border-radius: 50%;
          appearance: none;
          outline: none;
          margin-left: 20px;
          // display: none;
        }
        input:checked {
          background: url(/home_img/checked.png) no-repeat center;
        }
        label {
          position: absolute;
          left: 50px;
          top: 12px;
          font-size: 14px;
          color:#999;
          span {
            color:$master-blue;
          }
        }
      }
    }
  }
}