@import "home_master";
header{
 width: 100%;
 background: rgba(0,0,0,0.2);
 .head{
    height: 100px;
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    color: #fff;
    div{
      padding: 0 20px;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
    div:not(:last-child):hover{
      border-bottom: 2px solid #03a2fb;
    }
    .infor{
      display: flex;
      justify-content: space-between;
      button{
        margin-top: 30px;
        height: 38px;
        width: 95px;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        background: transparent;
        box-sizing: border-box;
      }
      .register{
        border: none;
      }
    }
 }
}