@import "home_master";
body {
    width: 100%;
    .container {
      width: 100%;
      .nav {
        width: 100%;
        .nav_box {
          width: 60%;
          margin: 0 auto;
          height: 100px;
          .nav_logo {
            width: 160px;
            height: 100%;
            line-height: 100px;
            padding-top: 22px;
            a {
              display: block;
              width: 100%;
              height: 55px;
              background: url(/we_img/myLogo.png) no-repeat center;
            }
          }
          .nav_items {
            width: 50%;
            height: 100%;
            line-height: 100px;
            ul {
              .nav_item {
                float: left;
                width: 20%;
                text-align: center;
                a {
                  display: block;
                  color:#444;
                  font-size: 15px;
                }
                a:hover {
                  color:#03a2fb;
                }
              }
            }
          }
        }
      }
      .app_download {
        width: 100%;
        height: 695px;
        background-color: #ececef;
        .download_area {
          width: 60%;
          height: 100%;
          margin: 0 auto;
          position: relative;
          .download {
            width: 505px;
            height: 345px;
            position: absolute;
            top:145px;
            right:0;
            .download_title {
              display: block;
              width: 100%;
              height: 40px;
              line-height: 40px;
              text-align: center;
              font-size: 28px;
            }
            .download_code {
              width: 207px;
              height: 238px;
              position: absolute;
              left:0;
              bottom: 10px;
              background: url(/we_img/download_code.png) no-repeat ;
            }
            .Ios_download,.Android_download {
              position: absolute;
              width: 266px;
              height: 50px;
              border-radius: 25px;
              right: 0;
              bottom: 60px;
              background-color: #03a2fb;
              text-align: center;
              line-height: 50px;
              span {
                a {
                  color:#fff;
                  font-size: 22px;
                }
              }
            }
            .Ios_download {
              bottom: 136px;
            }
            .app_beta {
              position: absolute;
              bottom: 10px;
              right: 80px;
              font-size: 12px;
              color:#797879;
              p:first-child{
                margin-bottom: 7px;
              }
            }
          }
        }
      }
    }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}