@import "home_master";
@import "~swiper/dist/css/swiper.min.css";
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  li{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
}
body{
 background-color: #ededed;
}
.line-bootom {
  border-bottom: 1px solid #999999;
}
.container{
  .nav{
    margin: 10px 0px;
  }
  margin: 20px 18%;
  .main{
    display: flex;
    .left{
      display: flex;
      flex: 25;
      flex-direction: column;
      margin-right: 20px;
      ul li{
        background-color: #fff;
      }
      .common{
        margin: 0px 20px 20px 20px;
      }
      .left-title{
        text-align: center;
        font-size: 20px;
        padding: 20px 0px 10px 0px ;
      }
      .left-content{
        margin: 0px 40px;
        padding-bottom: 20px;
        font-size: 14px;
      }
      .list{
        background-color: #fff;
        .list-time{
          border-bottom: 1px solid #f1f1f1;
          padding: 20px 20px 10px 20px;

        }
        .list-body{
          padding: 20px 0px;
          border-bottom: 1px solid #f1f1f1;
          display: flex;
          .list-body-left{
            display: flex;
            flex: 22;
            img{
              width: 100%;
              padding: 0px 20px;
            }
          }
          .list-body-right{
            flex-direction: column;
            display: flex;
            flex: 25;
            div{
              padding: 0px 10px 15px 20px;
            }
            .list-body-time{
              font-size: 12px;
              color: #6c6c6c;
            }
            .list-body-content{
              font-size: 10px !important;
              color: #6c6c6c;
              line-height:16px
            }
          }
        }
      }

    }
    .right{
      display: flex;
      flex: 11;
      flex-direction: column;
      border: 1px solid #f1f1f1;
      background-color: #fff;
      .right-title{
        padding: 20px 0px;
        border-bottom: 1px solid #f1f1f1;
        span{
          margin-left: 20px;
        }
      }
      ul{
        margin: 20px;
        li{
          padding: 10px 0px;
        }

      }
    }
  }
}
