@import "home_master";
@import "~swiper/dist/css/swiper.min.css";
@include nav();
.content{
    a{
      text-decoration: none;
      color: #000;
    }
    .h1{
      height: 50px;
      line-height: 50px;
      padding-left: 24px;
      font-size: 18px;
      color: #444545;
      font-weight: 600;
      margin-bottom: 1px;
      background: #fff;
    }
    background: #f5f5f5;
    .nav{
      margin: 0 auto;
      width: $master-width;
      padding: 19px 0 18px 0;
    }
    #banner{
      width: 100%;
      .swiper-slide{
        height: 563px;
        img{
          width: 100%;
        }
      }
      .swiper-pagination{
        bottom: 75px;
        .swiper-pagination-bullet{
          border-radius: 5px;
          background: none;
          width: 90px;
          height: 50px;
          img{
            width: 90px;
            height: 50px;
          }
        }
        .swiper-pagination-bullet-active{
          border: 2px solid #04a1fb;
          border-radius: 5px;
          box-shadow: 0px 5px 29px 0px rgba(14, 13, 13, 0.16);
        }
      }
    }
    .build{
      background: #f5f5f5;
      position: relative;
      top: -55px;
      z-index: 10;
      .first{
        width: $master-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left{
          width: 934px;
          .intro{
            background: #fff;
            .introBox{
              height: 70px;
              padding: 20px 0 10px 0;
              display: flex;
              justify-content: flex-start;
              border-bottom: 1px solid #ededed;
              .introTitle{
                line-height: 70px;
                font-size: 34px;
                // font-weight: 600;
                padding: 0 45px 0 27px;
              }
              .introBuild{
                text-align: center;
                border-left: 1px solid #ededed;
                padding: 0 47px;
                div{
                  color: #888787;
                }
                .introNum{
                  font-size: 30px;
                  // font-weight: 600;
                  line-height: 40px;
                  color: #444;
                }
              }
              .introArea{
                text-align: center;
                border-left: 1px solid #ededed;
                padding: 0 30px;
                div{
                  color: #888787;
                }
                .areaNum{
                  font-size: 30px;
                  // font-weight: 600;
                  line-height: 40px;
                  color: #444;
                }
              }
              .introRental{
                text-align: center;
                border-left: 1px solid #ededed;
                padding: 0 20px;
                div{
                  color: #888787;
                }
                .introPrice{
                  font-size: 30px;
                  // font-weight: 600;
                  line-height: 40px;
                  color: $master-blue;
                }
              }
            }
            .introAddress{
              padding-left: 25px;
              display: flex;
              justify-content: flex-start;
              height: 50px;
              line-height: 50px;
              border-bottom: 1px solid #ededed;
              div{
                @extend .font-level3;
              }
              .introMap{
                margin-left: 53px;
                color: $master-blue;
                &:hover{
                  cursor: pointer;
                }
              }
            }
            .introBetter{
              height: 90px;
              display: flex;
              justify-content: flex-start;
              line-height: 90px;
              .betterTitle{
                margin-left: 25px;
                margin-right: 30px;
              }
              .betterDetail{
                margin-right: 40px;
                img{
                  vertical-align: middle;
                  margin-right: 5px;
                }
              }
            }
          }
          .filter{
            margin: 20px 0;
            background: #fff;
            height: 50px;
            line-height: 50px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            div{
              width: 186px;
              &:not(:first-child){
                border-left: 1px solid #ededed;
              }
            }
            .filterActive{
              background: $master-blue;
              color: #fff;
            }
          }
          .rent{
            .rentAcreage{
              background: #fff;
              font-size: 14px;
              padding-left: 30px;
              display: flex;
              justify-content: flex-start;
              height: 50px;
              line-height: 50px;
              &:not(:last-child){
                border-bottom: 1px solid #ededed;
              }
              div{
                margin-right: 45px;
              }
              div:hover{
                color: $master-blue;
                cursor: pointer;
              }
              span{
                margin-right: 35px;
              }
              span:hover{
                color: $master-blue;
                cursor: pointer;
              }
              .current{
                color: $master-blue;
              }
            }
          }
          .buildList{
            background: #fff;
            margin-top: 20px;
            .listNav{
              height: 50px;
              line-height: 50px;
              padding-left: 25px;
              display: flex;
              justify-content: flex-start;
              .listCount{
                color: #878585;
                width: 236px;
                span{
                  font-size: 24px;
                  color: $master-blue;
                }
              }
              .listArea{
                color: #333;
                width: 176px;
                display: flex;
                justify-content: flex-start;
                .listSort{
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  margin-left: 10px;
                  .rise{
                    height: 6px;
                    line-height: 0;
                    margin-top: 17px;
                  }
                  .drop{
                    line-height: 0;
                    height: 6px;
                    margin-top: 2px;
                  }
                }
              }
              .special{
                color: #333;
              }
            }
            .listDetail{
              padding: 25px;
              display: flex;
              justify-content: flex-start;
              border-top: 1px solid #ededed;
              .listPic{
                height: 100px;
                img{
                  width: 140px;
                  height: 100px;
                }
              }
              .listNum{
                margin-left: 93px;
                line-height: 100px;
                width: 406px;
                display: flex;
                justify-content: space-between;
              }
              .listSpecial{
                height: 88px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 6px 0;
                margin-left: 107px;
                div{
                  text-align: center;
                  height: 24px;
                  line-height: 24px;
                  width: 76px;
                  border-radius: 2px;
                }
                .special1{
                  background: #e9f5f8;
                  color: #9bc9d5;
                }
                .special2{
                  background: #f5f1e8;
                  color: #dfcb90;
                }
                .special3{
                  background: #e8f6ec;
                  color: #99cba8;
                }
              }
            }
          }
          .all{
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #fff;
            display: block;
            margin-bottom: 20px;
            margin-top: 1px;
          }
          .buildInfor{
            margin: 20px 0;
            .buildInforBox{
              background: #fff;
              .buildRow{
                display: flex;
                justify-content: flex-start;
                padding-left: 40px;
                height: 70px;
                line-height: 70px;
                div{
                  width: 50%;
                  display: flex;
                  justify-content: flex-start;
                  .developer{
                    width: 110px;
                    color: #999;
                  }
                }
              }
              .buildDetail{
                padding: 35px 100px 35px 40px;
                color: #666;
              }
            } 
          }
          .quotation{
            margin-bottom: 20px;
            .average{
              background: #fff;
              display: flex;
              justify-content: space-between;
              text-align: center;
              padding: 30px 0 20px 0;
              .buildPrice{
                color: #444545;
                line-height: 25px;
                width: 310px;
                &:not(:last-child){
                  border-right: 1px solid #f1f0f0;
                }
              }
            }
          }
        }
        .location{
          position: fixed;
          top: 61px;
          margin-left: 960px;
        }
        .right{
          width: 240px;
          margin-top: 0;
          .agent{
            background: #fff;
            height: 296px;
            border-radius: 5px;
            text-align: center;
            padding-top: 20px;
            .agentPic{
              width: 92px;
              height: 92px;
              border-radius: 50%;
              margin-bottom: 10px;
            }
            .name{
              padding-bottom: 15px;
              border-bottom: 1px solid #ededed;
              .nameFirst{
                @extend .font-level4;
                font-weight: 600;
                line-height: 25px;
              }
            }
            .free{
              padding-top: 30px;
              @extend .font-level3;
              color: #858686;
            }
            .service{
              margin-top: 15px;
            }
          }
          .findHouse{
            margin-top: 26px;
          }
        }
      }
      .second{
        width: $master-width;
        margin: 0 auto;
        #map{
          background: #fff;
          padding: 20px;
          height: 510px;
        }
      }
      .enjoy{
        margin-top: 20px;
        .enjoyBox{
          width: $master-width;
          margin: 0 auto;
          .enjoyList{
            background: #fff;
            padding: 25px;
            display: flex;
            justify-content: space-between;
            .enjoyPic{
              width: 265px;
              height: 210px;
              img{
                width: 265px;
                height: 210px;
              }
            }
            .enjoyInfor{
              width: 239px;
              border: 1px solid #e6e6e6;
              border-top: none;
              padding: 15px 12px;
              .enjoyTitle{
                @extend .font-level3;
                color: #444545;
                margin-bottom: 16px;
                font-weight: 600;
              }
              .enjoyIntro{
                display: flex;
                justify-content: space-between;
                line-height: 25px;
                .enjoyAddress{
                  @extend .font-level1;
                  color: #999;
                  img{
                    vertical-align: text-bottom;
                  }
                }
                .enjoyPrice{
                  color: #49494a;
                  span{
                    font-size: 22px;
                    font-weight: 600;
                    color: $master-blue;
                  }
                }
              }
            }
          }
        }
      }
    }
}