@import 'home_master';
@include nav();// 导航样式
@include footer(); // 底部样式
@include right_tab(); // 侧边栏样式
@include pagination(); // 分页样式
a {
  text-decoration: none;
  color:#444;
}
div,p,h1,h2,h3,h4,h5,span,ul,ol,input,textarea,button,select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,ol {
  list-style: none;
}
body {
  background-color: #f5f5f5;
  .house_list_container {
    .house_list_title {
      background-color: #fff;
      padding: 5px 0;
      margin-bottom: 19px;
      .title_content {
        width: $master-width;
        height: 50px;
        margin: 0 auto;
        line-height: 50px;
        min-width: 520px;
        .link {
          color:#999;
          font-size: 12px;
          a {
            font-size: 12px;
            color:#999;
          }
          .homepage:hover {
            color:$master-blue;
          }
        }
        .serch_area {
          padding-top: 7px;
          height: 50px;
          display: flex;
          input {
            width: 348px;
            height: 34px;
            border: none;
            background-color: #f5f5f5;
            border-radius: 17px 0 0 17px;
            padding-left: 10px;
            padding-left: 17px;
            outline: none;
          }
          input::placeholder {
            font-size: 14px;
          }
          .serch_btn {
            width: 74px; 
            height: 34px;
            border: none;
            background-color: $master-blue;
            border-radius: 0 25px 25px 0;
            outline: none;
            position: relative;
            cursor: pointer;
            span {
              display: block;
              width: 21px;
              position: absolute;
              left: 22px;
              top:7px;
              height: 20px;
            }
          }
          .serch_btn:hover {
            opacity: 0.8;
          }
          .serch_map {

            a {
              width: 75px;;
              height: 34px;
              outline: none;
              text-align: right;
              line-height: 34px;
              border-radius: 5px;
              font-size: 12px;
            }
          }
        }
      }
    }
    .house_list_content {
      margin: 0 auto;
      .select_box {
        width: 100%;
        background: #fff;
        .select_area {
          margin: 0 auto;  
          width: $master-width;
          padding: 16px 0;
          margin-bottom: 20px;
          ul::after {
            content:"";
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
          }
          .area {
            ul.list {
              a.js_area_sel {
                position: relative;
              }
              a.current::before {
                bottom: -13px;
                left: 8px;
                position: absolute;
                content:"";
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f5f5f5;
              }
              a.current::after {
                bottom: -14px;
                left: 8px;
                position: absolute;
                content:"";
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f6fafe;
              }
            }
          }
          .area,.acverge,.price,.decoration,.special {
            .area_detail {
              background-color: rgba(238, 246, 255, 0.5);
              padding-left: 54px;
              a {
                color:#959393;
              }
            }
            ul {
              border-bottom: 1px solid #f5f5f5;
              li {
                float: left;
                height: 40px;
                line-height: 40px;
                margin-right: 30px;
                a {
                  color:#444;
                  cursor: pointer;
                  font-size: 12px;
                }
                a:hover {
                  color:$master-blue;
                }
              }
              li:first-child {
                  color:#b2b2b2;
                  font-size: 12px;
              }
            }
          }
          
          .special {
            ul {
              border-bottom: none;
            }
          }
          .result {
            border-top: 1px solid #f5f5f5;
            padding-top: 15px;
            margin-bottom: 5px;
            width: 100%;
            .title {
              margin-right: 30px;
              line-height: 30px;
              font-size: 12px ;
              color:#b2b2b2;
            }
            .selected_box { 
              .selected {
                margin-top: 2px;
                float: left;
                margin-right:30px;
                font-size: 12px;
                border: 1px dashed #b2b2b2;
                box-sizing: border-box;
                font-size: 12px;
                padding: 4px 10px;;
                color:#b2b2b2;
                background-color: rgba(238, 246, 255, 0.5);
                cursor: pointer;
                span {
                  color:#999;
                }
              }
            }
            .cleaning {
              width: 40px;
              position: relative;
              line-height: 34px;
              .icon_clean {
                width: 14px;
                height: 14px;
                left: -2px;
                top: 9px;
                position: absolute;
              }
              a {
                font-size: 12px;
                color:#333;
              }
              a:hover {
                color:$master-blue;
              }
            }
          }
        }
      }
      .house_list {
        width: $master-width;
        margin: 0 auto;
        display: flex;
        margin-bottom: 80px;
        .house_show {
          flex: 4;
          max-width: 940px;
          margin-right: 20px; 
          .empty {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 60px;
            height: 170px;
            background-color: #fff;
            margin-bottom: 20px;
            .title {
              font-size: 18px;
              color:#999;
              text-align: center;
              margin-bottom: 20px;
            }
            .callme {
              color:#999;
              font-size: 18px;
              text-align: center;
              span {
                color:$master-blue;
                font-size: 18px;
                cursor: pointer;
              }
            }
          }
          .related {
            width: 100%;
            border-bottom: 1px solid #f5f5f5;
            position: relative;
            .related_title {
              width: 100%;
              height: 56px;
              background-color: #fff;
              color:#333;
              font-size: 15px;
              line-height: 56px;
              padding-left: 24px;
              span {
                position: absolute;
                left: 22px;
                top: 20px;
                display: inline-block;
                width: 2px;
                height: 16px;
                background-color: $master-blue;
              }
            }
          }
          .house_show_title {
            width: 100%;
            height: 51px;
            line-height: 50px;
            border-bottom: 1px solid #ededed;
            background-color: #fff;
            display: flex;
            padding:0 0 0 25px;
            color:#858484;
            .house_num {
              flex:4;
              span {
                font-size: 20px;
                color:$master-blue;
              }
            }
            .title_right {
              flex:1;
              display: flex;
              text-align: center;
              font-size: 14px;
              .sort_default {
                flex: 1;
                border-right: 1px solid #ededed;
                border-left: 1px solid #ededed;
                min-width:60px;
                a {
                  color:#878585;
                  // font-size: 14px;
                }
              }
              .sort_default:hover,.sort_price:hover {
                a {
                  color:$master-blue !important;
                }
              }
              .sort_price {
                flex: 1;
                min-width: 60px; 
                padding-right: 10px;  
                a {
                  color:#878585;
                }
              }
              .sort_price_before{
                color: #007bff;
              }
              .order_price {
                position: relative;
                .up,.down {
                  font-size: 10px;
                  position: absolute;
                  left:60px;
                  top: 4px;
                }
                .down {
                  top: 11px;
                }
              }
            }
          }
          .js_content {
            .detail {
              width: 100%;
              padding: 25px; 
              background-color: #fff;
              margin-bottom: 2px;
              display: flex;
              .img_box {
                flex:1;
                height: 180px;
                width: 240px;
                position: relative;
                .house_img {
                  width: 100%;
                  height: 100%;
                }
                .first_select {
                  position: absolute;
                  top: 6px;
                  right: 12px;
                }
              }
              .detail_title {
                margin-left: 22px;
                flex:3;
                padding: 5px 0;
                .house_name {
                  margin-bottom: 15px;
                  .name {
                    font-size: 22px;
                    color:#000;
                    cursor: pointer;
                    .highlight {
                      color:$master-blue;
                      font-size: 22px;
                    }
                  }
                  .name:hover {
                    color:$master-blue;
                  }
                  .js_tao {
                    display: inline-block;
                    color:#fff;
                    width: 54px;
                    height: 22px;
                    text-align: center;
                    line-height: 22px;
                    background-color: #7ab9fd;
                    margin-top: 2px;
                    margin-left: 5px;
                  }
                  .price {
                    span {
                      color:#ff4949;
                      font-size: 22px;
                    }
                  }
                }
                .house_location,.house_acverge {
                  font-size: 14px;
                  color:#5d5c5c;
                  margin-bottom: 10px;
                  .highlight {
                    color:$master-blue;
                  }
                }
                .house_acverge {
                  margin-bottom: 18px;                
                }
                .acverge_select {
                  width: 100%;
                  margin-bottom: 10px;
                  ul {
                    width: 96%;
                    li {
                      width: 99px;
                      height: 32px;
                      border: 1px solid #ededed;
                      border-right:none; 
                      line-height: 32px;
                      text-align: center;
                      a {
                        color:#5e5b5b;
                        font-size: 14px;
                      }
                        .acreage-detail:hover div{
                          color: $master-blue;
                        }
                        .acreage-detail{
                          position: absolute;
                          background-color: #fff;
                          padding: 2px;
                          border: 1px solid #f3f3f3;
                          box-shadow: 0 1px 3px rgba(233,236,247,0.7);
                          z-index: 22;
                          img {
                            cursor: pointer;
                          }
                          .zx{
                            position: absolute;
                            bottom:0px;
                            left:0px;
                            color: #fff;
                            padding: 0 10px;
                            font-size: 12px;
                            background-color: rgba(0, 0, 0, 0.32);
                          }
                          .zx_acverge,.zx_price {
                            font-size: 12px;
                            color:#878585;
                            cursor: pointer;
                          }
                        }
                      div{
                        display: none;
                      }
                    }
                    li:last-child{
                      border-right: 1px solid #ededed;
                      a {
                        color: #878585;
                      }
                    }
                    li:hover {
                      background-color: #e7e9ea;
                      color:#5e5c5a;
                      div{
                        display: block;
                      }
                    }
                  }
                }
                .house_special {
                  width: 100%;
                  ul {
                    width: 52%;
                    display: flex;
                    li {
                      flex:1;
                      height: 34px;
                      margin-right: 7px;
                      text-align: center;
                      line-height: 34px;
                      border-radius: 2px;
                      color:#71726f;
                      font-size: 14px;
                      min-width: 100px;
                    }
                    >li:first-child{
                      color:#849aae;
                      background-image: linear-gradient(#f4f7f9,#f4f7f9);
                    }
                    >li:nth-child(2){
                      color:#59c6d3;
                      background-image: linear-gradient(#e1f5f8,#e1f5f8);
                      border-radius:2px;
                    }
                    >li:nth-child(3){
                      color:#45c28d;
                      background-image: linear-gradient(#e1f5ed,#e1f5ed);
                      border-radius:2px;
                    }
                    >li:nth-child(4) {
                      color:#849aae;
                      background-image: linear-gradient(#f4f7f9,#f4f7f9);
                    }
                  }
                }
              }
              &:hover {
                background-color: #f6fafe;
                .detail_title {
                  .acverge_select {
                    ul {
                      li {
                        background-color: #fff;
                      }
                      li:hover {
                        background-color: #f6fafe;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .findHouse {
          width: 240px;
          position: relative;
          > div {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .location{
          position: fixed;
          top: 40px;
          margin-left: 960px;
        }
        .freeConsult {
          box-sizing: content-box;
        }
      }
      
    }
  }
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.current {
  color:$master-blue !important;
}
.icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: left -66px;
  margin-right: 6px;
  vertical-align: -3px;
}
