@import 'home_master';
@include nav();
body {
  background: url(/home_img/sellhouse_background.jpg) no-repeat center;
  height: 100%;
  .container {
    width: 100%;
    padding-top: 98px;
    .title {
      text-align: center;
      color:#fff;
      font-size: 46px;
      margin: 0 auto;
      margin-bottom: 18px;
    }
    .min_title {
      text-align: center;
      color:#fff;
      margin: 0 auto;
      font-size: 20px;
      margin-bottom: 38px;
    }
    .form_container {
      border-radius: 11px;
      width: 410px;
      height: 474px;
      background-color: #fff;
      margin: 0 auto;
      padding: 30px 45px 38px 40px;
      margin-bottom: 53px;
      form {
        .content{
          margin-bottom: 20px;
        }
        .connect,.phone {
          position: relative;
          padding-left: 10px;
          font-size: 16px;
          color:#333;
          margin-bottom: 13px;
          span {
            color: #dc5217;
            padding-right: 5px;
            font-size: 22px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .need {
          font-size: 16px;
          color:#333;
          margin-bottom: 10px;
        }
        textarea {
          width: 100%;
          height: 120px;
          resize: none;
          padding: 11px;
          border: 1px solid #ccc;
          margin-bottom: 30px;
        }
        input {
          width: 100%;
          border: 1px solid #ccc;
          height: 44px;
          padding-left: 15px;
        }
        textarea::placeholder,input::placeholder {
          font-size: 14px;
          line-height: 18px;
        }
        button {
          display: block;
          outline: none;
          border: none;
          width: 200px;
          height: 44px;
          border-radius: 22px;
          background-color: #007bff;
          color:#fff;
          font-size: 18px;
          text-align: center;
          line-height: 44px;
          margin: 0 auto;
        }
      }
    }
    .detail {
      width: 473px;
      height: 145px;
      background-color:rgba(0, 0, 0, 0.32);
      margin: 0 auto;
      border-radius: 11px;
      position: relative;
      padding: 43px 34px 37px;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:row;
        li {
          width: 100%;
          height: 100%;
          text-align: center;
          div {
            color:rgba(255, 255, 255, 0.62);
            margin-top: 19px;
          }
        }
      }
    }
    .detail::before {
      content: "";
      position: absolute;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid rgba(0, 0, 0, 0.32);
      left: 50%;
      margin-left: -20px;
      top: -20px;     
    }
  }
}
div,span,li,ul,ol,p,input,textarea {
  box-sizing: border-box;
}
//@media screen and (max-width:1200px) {
//  nav {
//    display: none;
//  }
//  .title {
//    display: none;
//  }
//  .min_title {
//    display: none;
//  }
//}
//@media screen and (max-width:960px) {
//  body {
//    padding: 0;
//  }
//}