@import 'shop_master';
@include header();
@include footer();
@include clean_common();
body{
  .container {
    .clean_serve {
      background: url(/shop_img/ressetClean_serve.jpg) no-repeat center !important;
    }
  }
}
.fixed {
  position: fixed;
  right:0;
  top: 0;
}
.absolute {
  position: absolute;
  right: 0;
  top: 0;
}