body{
    background-color: #ffffff !important;
}
 //TODO: scss注释补全
.mui-content{
    padding: 0 15px;
    background: #fff;
    width: 100%;
    >.mui-title{
        font-size: 18px;
        color: #333;
    }
    >form:after{
        height: 0;
    }
    >form:before{
        height: 0;
    }
    >form{
        margin-top: 40px;
        background: #fff;
        >.loginBtn{
            display: flex;
            justify-content: center;
        }
        >.loginBtn button{
            width: 80%;
            height: 45px;
            border-radius: 25px;
            padding: 0;
            font-size: 18px;
            margin: 30px 0;
            color: #FFF;
            background: #0066ff;
            border: none;
        }
        >button:after{
            height: 0;
        }
        >.marTop input{
            height: 30px;
        }
        >.mui-input-row:after{
            position: absolute;
            left:15px;
            width: 93%;
            background: #e6e6e6;
        }
        >.marTop input[placeholder]{
            font-size: 16px !important;
            margin-top: 20px !important;
        }
        >.marTop{
            height: 60px;
            #getSms{
                cursor: pointer;
            }
        }
        >.phone{
            >input{
                width: 60%;
            }
            >a{
                display: inline-block;
                margin-top: 25px;
                font-size:16px;
                margin-right: 12px;
            }
        }
    }
}