
body{
    .more{
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        >button{
            width: 78%;
            border: solid 1px #007eff;
            border-radius: 22px;
            height: 44px;
            color: #007eff;
            font-size: 17px;
        }
        >button:active{
            color: #007eff;
            background-color: #FFFFFF;
        }
        .loading{
            height: 44px;
            font-size: 16px;
            line-height: 44px;
            i{
              font-size: 16px;
              margin-right: 3px;
              color: #666;
            }
        }
    }
}