
body{
    background-color: #ffffff !important;
    .mui-content{
        background-color: #ffffff !important;
        .logo{
            text-align: center;
            margin-top: 20%;
            img{
                width: 164px;
                height: 129px;
            }
        }
        .title{
            font-size: 15px;
            color: #333;
            text-align: center;
            margin-top: 20%;
            div{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }
        .agreement{
            text-align: center;
            font-size: 13px;
            position: absolute;
            left: 50%;
            margin-left: -91px;
            bottom: 40px;
        }
    }
}