
body{
    .more{
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        >button{
            width: 78%;
            border: solid 1px #007eff;
            border-radius: 22px;
            height: 44px;
            color: #007eff;
            font-size: 17px;
        }
    }
}