
body{
    background: #f4f4f4 !important;
    .mui-content{
        margin: {
            left: 15px;
            right: 15px;
        }
        background: #f4f4f4 !important;
        .first{
            .input{
                margin-bottom: 1px;
                input{
                    &::placeholder{
                        font-size: 15px;
                    }
                    border: none;
                    margin: 0;
                    height: 50px;
                    border-radius: 0;
                }
            }
        }
        .second{
            margin-top: 10px;
            #requirement{
                &::placeholder{
                    font-size: 15px;
                }
                border: none;
            }
        }
        .loginOut{
            display: flex;
            justify-content: center;
            button{
                width: 80%;
                height: 45px;
                border-radius: 25px;
                padding: 0;
                font-size: 18px;
                margin: 40px 0;
                color: #FFF;
                background: #0066ff;
                border: none;
            }
        }
    }
}