@import "~normalize.css";
body{
  background-color: #f4f4f4 !important;
}
.main{
  background-color: #FFFFFF;
  margin: 15px 15px 0px 15px;
  font-size: 15px;
  border-radius: 8px;
}
.list-header{
  display: flex;
  color: #333;
  padding: 15px;
  font-weight:bold;
  border-bottom: 1px solid #f2f2f2;
  img {
    width: 15px !important;
    height: 18px !important;
    padding-right: 5px;
  }
}

.list-body{
  color: #999;
  margin: 0px 10px 0px 10px;
  .one {
    color: #000000;
  }
}
.list-body div{
  padding: 7px;
}
.list-bottom{
  position: relative;
  font-size: 14px;
  color: #666;
  background-color: #FFFFFF;
  margin: 0px 15px 15px 15px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  .mint-button--primary{
    margin-top: 5px;
    height: 26px !important;
    border-radius: 13px !important;
    padding: 0px 20px 0px 20px !important;
  }
  .text{
    padding: 7px 0px;
  }
  span{
    padding: 9px;
  }
  img {
    position: absolute;
    top: 10px;
    left: 276px;
    width: 24px !important;
    height: 24px !important;
  }
}
.f-1{
  display: flex;
  flex: 1;
}
.jus-start {
  justify-content: start;
}
.jus-center {
  justify-content: center;
}
.jus-end {
  justify-content: flex-end;
}
