body{
  margin: 0;
  margin-bottom: 10px;
  .detail-row-title{
    // display: inline-block;
    width: 64px;
    text-align: justify;
    // text-align-last: justify;
    &:after{
      content: '';  
      display: inline-block;
      width: 100%;
    }
  }
  .detail-title{
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding: 23px 0 20px 21px;
    border-bottom: 0.5px solid #ededed; 
  }
  .detail-info{
    padding: 20px;
    line-height: 18px;
    border-bottom: 0.5px solid #ededed;
    .detail-row{
      display: flex;
      justify-content: flex-start;
      span{
        color: #999;
        font-size: 15px;
      }
      .detail-color{
        color: #333;
      }
      .detail-remark{
        width: 70%;
        line-height: 19px;
        color: #333;
      }
    }
  }
  .detail-concat{
    padding: 20px 20px 5px;
    font-size: 15px;
    line-height: 18px;
    border-bottom: 0.5px solid #ededed;
    .detail-name,.detail-phone{
      display: flex;
      justify-content: flex-start;
    }
    span{
      color: #999;
    }
    .detail-color{
      color: #333;
    }
    .detail-phone-color{
      color: #007bff;
      font-weight: 600;
    }
  }
  .detail-choice{
    padding: 30px 0;
    border-bottom: 10px solid #ededed;
    .detail-choice-agent{
      text-align: center;
      margin-bottom: 30px;
    }
    .detail-confirm{
      width: 300px;
      height: 44px;
      background: #007bff;
      color: #fff;
      border-radius: 22px;
      text-align: center;
      line-height: 44px;
      margin: 0 auto;
    }
  }
  .mint-actionsheet-listitem{
    border-bottom: solid 1px #eeeded;
    font-size: 14px;
    color: #333;
    height: 50px;
    line-height: 50px;
  }
  .mint-actionsheet-list{
    background: #fff;
    height: 300px;
    overflow-y: scroll;
    border-radius: 15px 15px 0px 0px;
  }
  .mint-actionsheet{
    background: none;
  }
  .el-step__main{
    flex: 1;
  }
  .detail-step{
    padding: 16px 0 0 20px;
    .el-step.is-vertical .el-step__line{
      top: 13px;
      bottom: -12px;
      left: 6px;
      width: 1px;
    }
    .agentStyle{
      color: #999;
    }
    .is-finish{
      .el-step__icon{
        width: 13px;
        height: 13px;
        background: #007bff;
        border: 3px solid #99caff;
      }
    }
    .el-step__title.is-finish{
      color: #333;
      font-size: 13px;
    }
    .is-wait,.is-process{
      .el-step__icon{
        width: 11px;
        height: 11px;
        background: #ccc;
        border: none;
        left: 1px;
      }
    }
    .el-step.is-vertical .el-step__title{
      line-height: 30px;
      padding-bottom: 0;
    }
    .el-step__description{
      color: #999;
    }
    .el-step__title{
      font-size: 13px;
      color: #333;
    }
    .el-step__title.is-process{
      font-weight: 500;
    }
    .el-step__description.is-process,.is-finish{
      color: #999;
      font-size: 13px;
    }
    .el-step__description.is-wait{
      color: #999;
      font-size: 13px;
    }
    .el-step.is-vertical .el-step__main{
      padding-left: 5px;
    }
  }
}